body {
  background: rgba(233, 236, 198, 0.5);
}
header {
  margin-bottom: 10px;
}
.line {
  stroke: #EB648C;
  stroke-width: 1px;
  fill: none;
}
.line_temp {
  stroke: #70ABA6;
  stroke-width: 1px;
  fill: none;
}
.line_light {
  stroke: #ADB262;
  stroke-width: 1px;
  fill: none;
}
.legend .item .colour {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
.legend .item.sound .colour {
  background: #EB648C;
}
.legend .item.temp .colour {
  background: #70ABA6;
}
.legend .item.light .colour {
  background: #ADB262;
}
