body {
	background: white;
	/*color: white;*/
}

header {
	margin-bottom: 10px;
}

.line {
	stroke: blue;
	stroke-width: 1px;
	fill: none;
}

.line_temp {
	stroke: red;
	stroke-width: 1px;
	fill: none;
}

.line_light {
	stroke: limegreen;
	stroke-width: 1px;
	fill: none;
}

.legend .item .colour {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
}

.legend .sound .colour {
	background: blue;
}

.legend .temp .colour {
	background: red;
}

.legend .light .colour {
	background: limegreen;
}